body {
  box-sizing: border-box;
  margin: 0px;
}

label {
  display: inline-block;
  float: left;
  clear: left;
  width: 165px;
  font-size: 15px;
  text-align: right;
  margin-top: 5px;
  font-family: 'Montserrat', san-serif;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 3px gray;
}

h1{
  text-align: center;
  width: 300px;
  margin: auto;
  font-family: 'Oswald', san-serif;
  letter-spacing: 1px;
  padding: 10px;
  color: white;
  text-shadow: 1px 1px 3px gray;
}
.banner {
  height: 55vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.inputs {
  display: inline-block;
  float: left;
  margin: 5px 0px 0px 5px;
  border: 1px solid lightgray;
  border-radius: 3px;
  margin: 8px 0px 0px 5px;
  color: whites;
}

.emForm {
  width: 375;
  margin: auto;

}

.wrapper {
    background-color: #a8bcdb;
    height: 45vh;
}

.btn {
  width: 263px;
  background-color: #007cc4;
  color: white;
  box-shadow: 1px 2px 2px #007cc1;
  padding: 10px 0px 10px 0px;
  font-size: 16px;
  margin-left: 35px;
  border: 1px solid #007cc4;
}
